@mixin background($image) {
  background: url($image);
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin heading-font {
  font-family: $font-family;
  font-style: normal;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}