.container {
    &__desktop_narrow {
        padding-left: 160px;
        padding-right: 160px;
    }

    &__desktop_wide {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: $laptop) {
        &_tablet {
            padding-left: 0;
            padding-right: 0;
        }
    }
}