.formLabel {
    @include text-font(400, 12px, 18px);
    margin: 12px 0 0 10px;
    color: $thirdColor;

    @include laptop {
        margin-top: 10px;
    }

    @media screen and (max-width: 400px) {
        margin-left: 0;
    }

}