.section {
    padding: 60px 0;

    @include phones {
        padding: 40px 0 30px;

    }

    &_tablet {
        @include laptop {
            padding: 20px 0 60px;
        }
    }

    &_mobile {
        @include phones {
            padding: 20px 0;
        }
    }

}