.section {
    padding: 60px 0;

    @media screen and (max-width: $laptop) {
        &_tablet {
            padding: 20px 0 60px;
        }
    }

}


@media screen and (max-width: $phones) {
    .section {
        padding: 40px 0 30px;

        &_mobile {
            padding: 20px 0;
        }
    }
}