.section {
    padding: 60px 0;

    @include phones {
        padding: 40px 0 30px;

    }

    &_tablet {
        @include laptop {
            padding: 20px 0 60px;
        }
    }

    &_mobile {
        @include phones {
            padding: 20px 0;
        }
    }

    &__text {
        @include text-font(400, 32px, 40px);
        color: #8e8e98;
        margin: 0;

        @include laptop {
            @include text-font(400, 20px, 30px);
        }

        @media screen and (max-width: 410px) {
            @include text-font(400, 12px, 18px);
        }

    }

}