$font-family: 'Roboto', Arial, sans-serif;

$mainColor: #000000;
$secondColor: #25E197;
$thirdColor: #47474c;
$cardColor: rgba(28, 28, 30, 1);
$hoverColor: rgba(142, 142, 152, 0.3);
$textColor: #ffffff;


$desktop: 1440px;
$laptop: 1100px;
$tablets: 770px;
$phones: 610px;
$phones-small: 520px;