$font-family: 'Roboto', Arial, sans-serif;

$mainColor: #000000;
$secondColor: #25E197;
$thirdColor: #47474c;
$cardColor: #1c1c1e;
$hoverColor: #8e8e984d;
$textColor: #ffffff;


$desktop: 1440px;
$laptop: 1100px;
$tablets: 770px;
$phones: 610px;
$phones-small: 520px;